<!ashleysumagaysay-->

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
    
    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {

  
  padding: 10px;
  color: black;
  font-size:10px;
  display: flex;
  font-family: 'Inter';
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.header img {
  border: 0px solid #ddd;
  border-radius: 0px;
  padding: 5px;
  width: 80px;
}

body {
  background-color: #fefefe;
  color: #222;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

svg {
  width: 20px;
  height: 20px;
  stroke: black;
}

.hidden {
  display: none;
}



.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
 
}

.header-wrap .mainInner {
  max-width: calc(1050px + 40px);
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.navbar-menu ul {
  display: flex;
  list-style: none;

}



.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;

}

.navbar-menu .link {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: black;
  font-family: 'Poppins'

  

}

.navbar-close, .navbar-icon, .navbar-icon > * {
  display: none;
  color: black;
  float: right;
  margin: auto;
  padding-top: 20px;
  padding-right: 10px;
  



}

.line1{
  background-color: blue;
  height: 3px;
}
.line{
  background-color: #ffe338;
  height: 3px;
}

@media screen and (max-width: 640px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 70%;
    height: 100vh;
    background-color: blue;
    background-size: cover;
    z-index: 20;
    opacity: 2;
    visibility: hidden;
    transition: .2s ease;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li:not(:last-child) {
    margin:0;
  }

  .navbar-menu .link {
    padding: 14px 22px
  }
  
  .navbar-close, .navbar-icon, .navbar-icon > * {
    display: flex;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .navbar-close label::before {
    content: 'Close';
    font-size: 14px;
    color: white;
    opacity: .9;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: .9;
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: black;
    opacity: .9;
    visibility: visible;
  }
}



