/* Redesigned Scrollbar */
* {
 scrollbar-width: thin;
 scrollbar-color: rgb(92, 73, 255) rgb(255, 255, 255);
 }
 
 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
 width: 8px;
 }
 
 *::-webkit-scrollbar-track {
 background: #fffaf1;
 }
 
 *::-webkit-scrollbar-thumb {
 background-color: #D4D4D4;
 border-radius: 20px;
 }   
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*header logo styling*/
.header {

  
padding: 5px;
color: white;
font-size:5px;
display: flex;
font-family: 'Inter';
align-items: center;
background-color: rgb(9,39,216);
text-decoration: none;
}
.header h2{
padding: 5px;
color: white;
font-size:18px;
display: flex;
font-family: 'Inter';
align-items: center;
background-color: rgb(9,39,216);
text-decoration: none;

}
.header img {
border: 0px solid #ddd;
border-radius: 0px;
padding: 5px;
width: 100px;
}

/*navbar styling*/

a {
text-decoration: none;
}

a:hover {
opacity: .7;
}

svg {
width: 50;
height: 30px;
stroke: white;


}

.hidden {
display: none;
}



.header-wrap {
width: 100%;
top: 0;
right: 0;
left: 0;
z-index: 10;

}





.header-wrap .mainInner {
max-width: calc(1050px + 40px);
padding: 0 10px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}



.navbar-menu ul {
display: flex;
list-style: none;


}



.navbar-menu ul li:not(:last-child) {
margin-right: 30px;

}

.navbar-menu .link {
display: flex;
align-items: center;
font-size: 20px;
color: black;
font-family: 'Poppins';
background-color: white;




}



.navbar-icon, .navbar-icon > * {
display: none;
color: white;
float: right;
margin: auto;
padding-top: 20px;
padding-right: 15px;
background-color: rgb(9,39,216);
height: 80px;
width: 30px;

}
/*2nd section*/
.second-section{
    height: 50vh;
    font-family: Poppins;
}
.container-1{
    width: 80%;
    height: 70vh;
    text-align: center;
    transform: translate(13%);
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: Poppins;
}
.vertical-left{
    width: 8%;
    height: 60vh;
    background-color: #FFDA27;
    float: left;
    margin-top: 97px;
}
.horizontal-left{
    width: 50%;
    height: 5vh;
    background-color: #F6AF17;
    float: left;
    margin-top: 600px;
    transform: translate(-16%);
}
.horizontal-left-2{
    width: 10%;
    height: 5vh;
    background-color: #0926DA;
    float: left;
    margin-top: 600px;
    transform: translate(-82%);
}
.vertical-right{
    width: 10%;
    height: 50vh;
    background-color: #FFDA27;
    float: right;
    transform: translate(0%, 0%);
}
.horizontal-right{
    width: 50%;
    height: 5vh;
    background-color: #F6AF17;
    float: right;
    transform: translate(0%, -1360%);
}
.horizontal-right-2{
    width: 10%;
    height: 5vh;
    background-color: #0926DA;
    float: right;
    transform: translate(0%, -1360%);
}
.text{
    width: 60%;
    height: 450px;
    font-size: 40px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    transform: translate(30%, -155%);
    font-family: poppins;
}
/* 3rd*/
.third-section{
    height: 180vh;
    font-family: Poppins;
}
.vision{
    width: 75%;
    height: 550px;
    float: left;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    margin-top: 150px;
    border-bottom: 50px solid #0821BF;
    background-color: #FFDA27;
}
.mission{
    width: 75%;
    height: 350px;
    float: right;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-top: 100px;
    border-bottom: 50px solid #0821BF;
    background-color: #FFDA27;

}
.third-section h1{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #05286B;
    font-weight: bolder;
    font-family: Arial black;
}
.third-section p{
    font-size: 30px;
    text-align: justify;
    color: #05286B;
    font-weight: 600;
    font-family: Poppins;
    padding: 0px 100px 100px 100px;
}
/*4th*/
.fourth-section{
    height: 80vh;
    font-family: Poppins;
}
.container-2{
    background-color: #FCDB3A;
    border: 10px solid #0821BF;
    width: 80%;
    height: 600px;
    transform: translate(10%);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -150px
}
.first{
    width: 25%;
    height: 450px;
    float: left;
    color: #05286B;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
   
}
.second{
    width: 25%;
    height: 450px;
    float: left;
    color: #05286B;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
 
}
.third{
    width: 25%;
    height: 450px;
    float: right;
    color: #05286B;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;

}
.fourth{
    width: 25%;
    height: 450px;
    float: right;
    color: #05286B;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;

}
.first p,
.second p,
.third p,
.fourth p{
    font-size: 70px;
    font-weight: 600;
    color: #05286B;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(0%, -275%);
}
.total{
    width: 15%;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    transform: translate(285%, 840%);
}
.total p{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #05286B;
    transform: translate(0%, -90%);
}
p span{
    font-size: 40px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-2 h1{
    font-family: Arial, Helvetica, sans-serif;
}
.container-2 img{
    margin-top: 30px;
    width: 80%;
    height: 300px;
}





@media screen and (max-width: 500px) {
    .header h2 {
padding: 0px;
color: white;
font-size:15px;
background-color: rgb(9,39,216);
}
.header img{
    width:70px;
}
.navbar-menu {
  top: 100;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 0vh;
  z-index: 20;
  visibility: hidden;
  transition: .2s ease;
  background-color: white;
 
}
.navbar-close{
    font-size: 30px;
}
.navbar-menu ul {
  flex-direction: column;
}

.navbar-menu ul li:not(:last-child) {
  margin:0;
}

.navbar-menu .link {
  padding: 14px 22px
}

 .navbar-icon, .navbar-icon > * {
  display: flex;
}



.off-navmenu:checked ~ .navbar-menu {
  right: 0;
  visibility: visible;
  background-color: white;

}

.off-navmenu:checked ~ .navC {
  backdrop-filter: blur(2px);
  opacity: .9;
  visibility: visible;
}
}
 body{
    margin:0;
    font-family: 'Poppins',sans-serif;
  }
  /* Banner Start*/
  /* Banner Background*/
  .carousel-item {
     height: 100vh;
     min-height: 350px;
     background: no-repeat center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
  /* Banner Text*/
  .carousel-caption-intro {
    top: 0;
    left:0;
    padding:40px;
    bottom: auto;
    text-align: left;
  }
  .carousel-caption-intro h1{
    font-size: 80px;
    font-weight: 600;
    color:white;
  }
  /* Slide 3 text end*/
  .thirdslide{
    font-size: 55px;
    color:white;
    font-weight: 700;
  }
  .subs {
    font-size: 30px;
    color:white;
  }
  /* Slide 3 text end*/
  .carousel-caption-intro p{
    font-size: 40px;
    color:white;
  }
  /* Banner Social Links*/
  .carousel-inner ul{
      list-style-type: none;
    }
  .carousel-inner li{
      display: inline-block;
      padding:10px;
    }
  .carousel-inner li a{
      text-decoration: none;
      color: white;
    }
    /* Banner Buttons*/
  .buttoncarousel {
    border-radius: 15px;
    padding:5px;
    width:10%;
    background-color: yellow;
    border:0;
    }
    /* Banner Buttons Hover*/
    .buttoncarousel:hover{
      background-color: white;
    }   
    /* Banner End*/

    /* Media Queries Banner*/
    @media screen and (max-width: 920px) {
        .carousel-item,.carousel-caption-intro{
            width:100%;
            height: auto;
        }
        .carousel-caption-intro h1{
          font-size: 30px;
        }
        .carousel-caption-intro p{
          font-size: 20px;
        }
        .buttoncarousel{
          font-size: 10px;
          width: 20%;
        }
        .carousel-inner i{
          font-size: 15px;
        }
        .carousel-caption-intro h5{
          font-size: 10px;
        }
        .thirdslide{
          font-size: 25px;
        }
        .subs{
          font-size: 15Px;
          color:white;
        }
    }/* Media Queries Banner End*/


/*2nd to 4th section media queries*/
@media (max-width: 1750px){
    .text{
        transform: translate(29%, -154%);
    }
    .vision{
        width: 75%;
        height: 600px;
        margin-top: 100px;
    }
    .mission{
        width: 75%;
        height: 360px;        
    }
    .fourth-section{
        height: 70vh;
    }
    .container-2{
        margin-top: -40px;
        height: 560px;
    }
    .container-2 h1{
        font-size: 40px;
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 60px;
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 60px;
        transform: translate(0%, -300%);
    }
   
    .container-2 img{
        margin-top: 20px;
        width: 80%;
        height: 300px;
    } 
    .total{
        width: 18%;
        height: 60px;
        transform: translate(225%, 750%);
    }   
}
@media (max-width: 1550px){
    .text{
        font-size: 38px;
    }
    .vision{
        width: 75%;
        height: 700px;
        margin-top: 100px;
        border-bottom: 40px solid #0821BF;
    }
    .mission{
        width: 75%;
        height: 380px; 
        border-bottom: 40px solid #0821BF;       
    }
    
}
@media (max-width: 1450px){
    .text{
        font-size: 36px;
    }
    .total{
        width: 18%;
        height: 60px;
        transform: translate(225%, 650%);
    }
    .total p{
        font-size: 28px;
        transform: translate(0%, -90%);
    }
    p span{
        font-size: 35px;
        padding-left: 10px;
    }
    .vision{
        width: 75%;
        height: 750px;
        margin-top: 100px;
        border-bottom: 30px solid #0821BF;
    }
    .mission{
        width: 75%;
        height: 420px;  
        border-bottom: 30px solid #0821BF; 
    }
    .container-2{
        margin-top: 100px;
    }
    .total{
        transform: translate(220%, 750%);
    }

}
@media (max-width: 1300px){
    .text{
        font-size: 34px;
    }
    .container-2{
        width: 80%;
        height: 500px;
        transform: translate(8%);
    }
    .container-2 h1{
        font-size: 30px;
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 50px;
        transform: translate(0%, -305%);
    }
    .container-2 img{
        width: 80%;
        height: 250px;
    }
    .vision{
        width: 75%;
        height: 800px;
        margin-top: 100px;

    }
    .mission{
        width: 75%;
        height: 440px;  
    }
    .total{
        transform: translate(220%, 630%);
    }
}
@media (max-width: 1200px){
    .container-1{
        margin-top: 120px;
    }
    .text{
        font-size: 33px;
    }
    /*third-section*/
    .vision{
        width: 70%;
        height: 550px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: 80px;
        border-bottom: 15px solid #0821BF;
    }
    .mission{
        width: 70%;
        height: 320px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 80px;
        border-bottom: 15px solid #0821BF;
    }
    .third-section h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .third-section p{
        font-size: 23px;
        padding: 0px 50px 50px 50px;
    }
    .container-2{
        margin-top: -260px;
    }
    
}
/*half*/
@media (max-width: 1100px){
    .text{
        font-size: 30px;
    }
    /*third-section*/
    .vision{
        width: 70%;
        height: 600px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: 80px;
        border-bottom: 15px solid #0821BF;
    }
    .mission{
        width: 70%;
        height: 320px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 80px;
        border-bottom: 15px solid #0821BF;
    }
    .third-section h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .third-section p{
        font-size: 23px;
        padding: 0px 50px 50px 50px;
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 40px;
        transform: translate(0%, -365%);
    }
    .total{
        width: 18%;
        height: 60px;
        transform: translate(225%, 650%);
    }
    .total p{
        font-size: 25px;
        transform: translate(0%, -90%);
    }
    p span{
        font-size: 28px;
        padding-left: 10px;
    }
    .container-2 img{
        width: 100%;
        height: 240px;
    }
    .container-2{
        width: 80%;
        transform: translate(4%);
        margin-top: -300px;
    }
    .fourth-section{
        height: 60vh;
    }

}
@media (max-width: 1000px){
    .text{
        font-size: 30px;
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 40px;
        transform: translate(0%, -365%);
    }
    .total{
        width: 18%;
        height: 60px;
        transform: translate(225%, 650%);
    }
    .total p{
        font-size: 25px;
        transform: translate(0%, -90%);
    }
    p span{
        font-size: 28px;
        padding-left: 10px;
    }
    .container-2 img{
        width: 100%;
        height: 240px;
    }
    .container-2 h1{
        font-size: 27px;
    }
    .third-section p{
        font-size: 22px;
    }
}
@media (max-width: 900px){
    .container-1{
        margin-top: 100px;
    }
    .text{
        font-size: 28px;
        padding-left: 10px ;
        padding-left: -10px;
    }
    .vision{
        width: 70%;
        height: 650px;
        margin-top: 100px;
        border-bottom: 30px solid #0821BF;
    }
    .mission{
        width: 70%;
        height: 350px;  
        border-bottom: 30px solid #0821BF; 
    }
    .container-2{
        margin-top: -60px;
    }
    .total p{
        font-size: 20px;
        font-weight: 600;
        transform: translate(0%, -93%);
    }
    p span{
        font-size: 25px;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .total{
        width: 20%;
        height: 40px;
        transform: translate(190%, 950%);
    }
  
}
@media (max-width: 750px){
    .container-1{
        margin-top: 80px;
    }
    .text{
        font-size: 26px;
    }
        /*third-section*/
        .vision{
            width: 75%;
            height: 550px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            margin-top: 80px;
            border-bottom: 10px solid #0821BF;
        }
        .mission{
            width: 75%;
            height: 350px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            margin-top: 80px;
            border-bottom: 10px solid #0821BF;
        }
        .third-section h1{
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .third-section p{
            font-size: 18px;
            padding: 0px 50px 50px 50px;
        }
        /*fourth-section*/
        .fourth-section{
            height: 60vh;
        }
        .container-2{
            border: 7px solid #0821BF;
            width: 80%;
            height: 500px;
            transform: translate(8%);
            padding-left: 10px;
            padding-right: 10px;
            margin-top: -270px;
        }
        .first{
            width: 50%;
            height: 200px;
            font-size: 30px;
            padding-top: 15px;  
        }
        .second{
            width: 50%;
            height: 200px;
            font-size: 30px;
            padding-top: 15px;
         
        }
        .third{
            width: 50%;
            height: 250px;
            font-size: 30px;
            padding-top: 15px;
        
        }
        .fourth{
            width: 50%;
            height: 250px;
            font-size: 30px;
            padding-top: 15px;  
        }
        .first p,
        .second p,
        .third p,
        .fourth p{
            font-size: 30px;
            transform: translate(0%, -325%);
        }
        .total{
            width: 35%;
            height: 40px;
            transform: translate(90%, 1050%);
        }
        .total p{
            font-size: 20px;
            font-weight: 600;
            transform: translate(0%, -93%);
        }
        p span{
            font-size: 20px;
            padding-left: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container-2 h1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        .container-2 img{
            margin-top: 10px;
            width: 80%;
            height: 150px;
        }
    
    
}
@media (max-width: 650px){
    .container-1{
        margin-top: 60px;
    }
    .text{
        font-size: 24px;
    }
    /*third-section*/
    .vision{
        width: 75%;
        height: 620px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .mission{
        width: 75%;
        height: 320px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .third-section h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .third-section p{
        font-size: 18px;
        padding: 0px 50px 50px 50px;
    }
    .container-2{
        margin-top: -310px;
    }
}
@media (max-width: 550px){
    .text{
        font-size: 22px;
    }
    /*third-section*/
    .vision{
        width: 75%;
        height: 610px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .mission{
        width: 75%;
        height: 330px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .third-section h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .third-section p{
        font-size: 16px;
        padding: 0px 50px 50px 50px;
    }
    .container-2{
        margin-top: -310px;
    }
}
@media (max-width: 500px){
    /*second-section*/
    .container-1{
        margin-top: 40px;
    }
    .text{
        font-size: 20px;
        transform: translate(27%, -152%);
    }
    .vertical-left{
        width: 12%;
        height: 45vh;
        margin-top: 146px;
        transform: translate(-50%);
    }
    .horizontal-left{
        width: 61%;
        height: 4vh;
        margin-top: 525px;
        transform: translate(-35%);
    }
    .horizontal-left-2{
        width: 15%;
        height: 4vh;
        margin-top: 525px;
        transform: translate(-145%);
    }
    .vertical-right{
        width: 12%;
        height: 45vh;
        transform: translate(50%, 7%);
    }
    .horizontal-right{
        width: 61%;
        height: 4vh;
        transform: translate(15%, -1350%);
    }
    .horizontal-right-2{
        width: 15%;
        height: 4vh;
        transform: translate(61%, -1350%);
    }
    /*third-section*/
    .vision{
        width: 75%;
        height: 550px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .mission{
        width: 75%;
        height: 300px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        margin-top: 80px;
        border-bottom: 10px solid #0821BF;
    }
    .third-section h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .third-section p{
        font-size: 15px;
        padding: 0px 50px 50px 50px;
    }
    /*fourth-section*/
    .fourth-section{
        height: 60vh;
    }
    .container-2{
        border: 7px solid #0821BF;
        width: 80%;
        height: 500px;
        transform: translate(8%);
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -430px;
    }
    .first{
        width: 50%;
        height: 200px;
        font-size: 30px;
        padding-top: 15px;  
    }
    .second{
        width: 50%;
        height: 200px;
        font-size: 30px;
        padding-top: 15px;
     
    }
    .third{
        width: 50%;
        height: 250px;
        font-size: 30px;
        padding-top: 15px;
    
    }
    .fourth{
        width: 50%;
        height: 250px;
        font-size: 30px;
        padding-top: 15px;  
    }
    .first p,
    .second p,
    .third p,
    .fourth p{
        font-size: 30px;
        transform: translate(0%, -325%);
    }
    .total{
        width: 35%;
        height: 40px;
        transform: translate(90%, 1050%);
    }
    .total p{
        font-size: 20px;
        font-weight: 600;
        transform: translate(0%, -93%);
    }
    p span{
        font-size: 20px;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container-2 h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .container-2 img{
        margin-top: 10px;
        width: 80%;
        height: 150px;
    }
}
/*end of 2nd to 4th section media queries*/

/*second-section*/
@media (max-width: 375px){
    .container-1{
        margin-top: 30px;
    }
    .text{
        font-size: 15px;
        transform: translate(27%, -163%);
    }
    .vertical-left{
        width: 12%;
        height: 45vh;
        margin-top: 146px;
        transform: translate(-50%);
    }
    .horizontal-left{
        width: 61%;
        height: 4vh;
        margin-top: 410px;
        transform: translate(-35%);
    }
    .horizontal-left-2{
        width: 15%;
        height: 4vh;
        margin-top: 410px;
        transform: translate(-145%);
    }
    .vertical-right{
        width: 12%;
        height: 45vh;
        transform: translate(50%, 7%);
    }
    .horizontal-right{
        width: 61%;
        height: 4vh;
        transform: translate(15%, -1520%);
    }
    .horizontal-right-2{
        width: 15%;
        height: 4vh;
        transform: translate(61%, -1520%);
    }
}
@media (max-width: 414px){
    .container-1{
        margin-top: 30px;
    }
    .text{
        font-size: 17px;
        transform: translate(27%, -115%);
    }
    .vertical-left{
        width: 12%;
        height: 45vh;
        margin-top: 146px;
        transform: translate(-50%);
    }
    .horizontal-left{
        width: 61%;
        height: 4vh;
        margin-top: 500px;
        transform: translate(-35%);
    }
    .horizontal-left-2{
        width: 15%;
        height: 4vh;
        margin-top: 500px;
        transform: translate(-145%);
    }
    .vertical-right{
        width: 12%;
        height: 45vh;
        transform: translate(50%, 7%);
    }
    .horizontal-right{
        width: 61%;
        height: 4vh;
        transform: translate(15%, -1380%);
    }
    .horizontal-right-2{
        width: 15%;
        height: 4vh;
        transform: translate(61%, -1380%);
    }
}
/**/
