/* Redesigned Scrollbar */
* {
 scrollbar-width: thin;
 scrollbar-color: rgb(92, 73, 255) rgb(255, 255, 255);
 }
 
 /* Works on Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
 width: 8px;
 }
 
 *::-webkit-scrollbar-track {
 background: #fffaf1;
 }
 
 *::-webkit-scrollbar-thumb {
 background-color: #D4D4D4;
 border-radius: 20px;
 }   
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*header logo styling*/
.header {

  
padding: 5px;
color: white;
font-size:5px;
display: flex;
font-family: 'Roboto', sans-serif;
align-items: center;
background-color: rgb(9,39,216);
text-decoration: none;
}
.header h2{
padding: 5px;
color: white;
font-size:18px;
display: flex;
font-family: 'Roboto', sans-serif;
align-items: center;
background-color: rgb(9,39,216);


}
.header img {
border: 0px solid #ddd;
border-radius: 0px;
padding: 5px;
width: 100px;
}

/*navbar styling*/

a {
text-decoration: none;
}

a:hover {
}

svg {
width: 100;
height: 50px;
stroke: white;
text-decoration: none;

}

.hidden {
display: none;
}



.header-wrap {
width: 100%;
top: 0;
right: 0;
left: 0;
z-index: 10;
 text-decoration: none;

}





.header-wrap .mainInner {
max-width: calc(1050px + 40px);
padding: 0 10px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
 text-decoration: none;
}



.navbar-menu ul {
display: flex;
list-style: none;
text-decoration: none;

}



.navbar-menu ul li:not(:last-child) {
margin-right: 30px;
text-align: center;	
 text-decoration: none;

}

.navbar-menu .link {
display: flex;
align-items: center;
font-size: 15px;
color: black;
font-family: 'Roboto', sans-serif;
background-color: white;
text-decoration: none;



}



.navbar-icon, .navbar-icon > * {
display: none;
color: white;
float: right;
margin: auto;
padding-top: 20px;
padding-right: 15px;
background-color: rgb(9,39,216);
height: 80px;
width: 30px;
 text-decoration: none;

}


@media screen and (max-width: 920px) {
    .header h2 {
padding: 0px;
color: white;
font-size:15px;
background-color: rgb(9,39,216);
}
.header img{
    width:70px;
}
.navbar-menu {
  top: 100;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 0vh;
  z-index: 20;
  visibility: hidden;
  transition: .2s ease;
  background-color: white;
 
}
.navbar-close{
    font-size: 30px;
}
.navbar-menu ul {
  flex-direction: column;
}

.navbar-menu ul li:not(:last-child) {
  margin:0;
}

.navbar-menu .link {
  padding: 14px 22px
}

 .navbar-icon, .navbar-icon > * {
  display: flex;
}



.off-navmenu:checked ~ .navbar-menu {
  right: 0;
  visibility: visible;
  background-color: white;

}

.off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: black;
    opacity: .9;
    visibility: visible;
  }
}
  /* Banner Start*/
  /* Banner Background*/
  .carousel-item {
     height: 100vh;
     min-height: 350px;
     background: no-repeat center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
  /* Banner Text*/
  .carousel-caption-intro {
    top: 0;
    left:0;
    padding:40px;
    bottom: auto;
    text-align: left;
  }
  .carousel-caption-intro h1{
    font-size: 80px;
    font-weight: 600;
    color:white;
    font-family: 'Roboto', sans-serif;
  }
  /* Slide 3 text end*/
  .thirdslide{
    font-family: 'Roboto',sans-serif;
    font-size: 55px;
    color:white;
    font-weight: 700;
  }
  .subs {
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    color:white;
  }
  /* Slide 3 text end*/
  .carousel-caption-intro p{
    font-size: 40px;
    color:white;
  }
  /* Banner Social Links*/
  .carousel-inner ul{
      list-style-type: none;
    }
  .carousel-inner li{
      display: inline-block;
      padding:10px;
    }
  .carousel-inner li a{
      text-decoration: none;
      color: white;
    }
    /* Banner Buttons*/
  .buttoncarousel {
    border-radius: 15px;
    padding:5px;
    width:10%;
    background-color: yellow;
    border:0;
    }
    /* Banner Buttons Hover*/
    .buttoncarousel:hover{
      background-color: white;
    }   
    /* Banner End*/

    /* Media Queries Banner*/
    @media screen and (max-width: 1035px) {
        .carousel-item,.carousel-caption-intro{
            width:100%;
            height: auto;
        }
        .carousel-caption-intro h1{
          font-size: 30px;
        }
        .carousel-caption-intro p{
          font-size: 20px;
        }
        .buttoncarousel{
          font-size: 10px;
          width: 20%;
        }
        .carousel-inner i{
          font-size: 15px;
        }
        .carousel-caption-intro h5{
          font-size: 10px;
        }
        .thirdslide{
          font-size: 25px;
        }
        .subs{
          font-size: 15Px;
          color:white;
        }
    }/* Media Queries Banner End*/

/*intro media queries start*/
.container-intro{
    position: relative;
}

.container-intro img{
    width: 100%;
}

.center-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-intro p{
    font-size: 2vw;
    text-align: justify;
    text-indent: 10%;
}
    
/*intro media query end*/
/*mission vision queries start*/
.third-section {
    height: 100vh;
    margin-bottom:50px;
}
.vision{
    width: 80%;
    height: 550px;
    float: left;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    margin-top: 150px;
    border-bottom: 50px solid #0821BF;
    background-color: #FFDA27;
}
.mission{
    width: 80%;
    height: 350px;
    float: right;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom: 50px solid #0821BF;
    background-color: #FFDA27;
}
.third-section h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #05286B;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.third-section p{
    font-size: 25px;
    text-align: justify;
    color: #05286B;
   font-family: 'Roboto', sans-serif;
    padding: 0px 100px 100px 100px;
}
@media screen and (max-width: 920px){
  
.vision{
    width: 80%;
    height: 300px;
    border-bottom: 20px solid #0821BF;
}
.mission{
    width: 80%;
    height: 200px;
    float: right;
    border-bottom: 20px solid #0821BF;
   
}
.third-section h1{
    font-size: 25px;
    text-align:center;
}
.vision p{
    font-size: 10px;
    padding: 0px 50px 0px 40px ;
}
.mission p{
    font-size: 10px;
    padding: 0px 15px;
}
}
/*mission vision queries end*/

/*Population Start*/
    .fourth-section{
        width: 100%;
        height: 95vh;
        background-image: url(img/spp-2.png);
	margin-top:100px;
	margin-bottom:100px;
    
}
/*Population End*/

/*Facilities start*/

	#facilities
	{
		align-items: center;
		clear: both;
	}
	#facilities h2
	{
	text-align: center;
	background-color: #0927D8;
	color: white;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	border-radius: 10px;
	margin-left: 8%;
	margin-right: 8%;
	letter-spacing: 1px;
	clear: both;
	}
	#facilities p
	{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-left: 10%;
	margin-right: 10%;
	justify-content: justify;
	align-items: center;
	text-align: justify;
	}
	.carousel
{
	border: 2px solid blue;
}
@media screen and (max-width: 600px)
{
	#facilities h2
	{
		text-align: center;
		background-color: #0927D8;
		color: white;
		text-transform: uppercase;
		font-family: roboto;
		font-size: 30px;
		font-weight: bold;
		border-radius: 10px;
		box-shadow: 0 3px 10px rgb(0,0,0,0.5);
		margin-left: 8%;
		margin-right: 8%;
		clear: both;
	}
	#facilities p
	{
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
		margin-left: 10%;
		margin-right: 10%;
		justify-content: justify;
		align-items: center;
		text-align: justify;
	}
}

@media screen and (max-width: 600px)
{
	#facilities h2
	{
		text-align: center;
		background-color: #0927D8;
		color: white;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: bold;
		border-radius: 10px;
		box-shadow: 0 3px 10px rgb(0,0,0,0.5);
		margin-left: 8%;
		margin-right: 8%;
		clear: both;
	}
	#facilities p
	{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		margin-left: 10%;
		margin-right: 10%;
		justify-content: justify;
		align-items: center;
		text-align: justify;
	}
}
/*Facilities end*/

/*************Start of Accomplishments Styling****************/

.accomplishments{
    width: 100%;
    height: auto;
    font-family: roboto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}
.accomplishment1 {
    width: 100%;
    text-transform: uppercase;
    height: auto;
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #0927D8;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
  }


#accomplishment2 {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: #05286B;
    font-weight: bold;
    background-color: #FFDA27;
  }

  #accomplishment3 {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
    overflow: hidden;
  }

  #accomplishment4{
    padding-right: 30px;
  }

  #accomplishment4 a{
    color: #05286B;
  }

  #accomplishment3 p{
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
  }


#accomplishment3 img{
    object-fit: fill;
    width: 100%;
    height: 95%;
    border-radius: 10px;
}

#accreditation1{
    padding-top: 15px;
    padding-left: 15px;
}

/*************End of Accomplishments Styling****************/




/****** SITE start ******/

.banner{
    margin-bottom: 30px;
}

.content{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
}

.content h1{
    text-align: center;
    font-weight: 900;
    font-size: 43px;
    color: #05286B;
}

.paragraph {
    width: 80%;
    margin: 0 auto;
}

.paragraph p{
    text-indent: 10%;
    font-size: 25px;
    text-align: justify;
}

.banner img{
    width: 100%;
    height: auto;
}

/* MEDIA QUERIES */

@media (min-width:200px) and (max-width:800px){
    .content h1{
        font-size: 25px;
    }

    .content p{
        font-size: 12px;
    }
}

/****** SITE end ******/


/****** Promotional Video start ******/


.container{
    width: 90%;
    height: auto;
    background-color: #3E3AFF;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px;
}

.box{
    box-sizing: border-box;
    height: auto;
    background-color: transparent;
    border: 5px solid #FFDA27;
    padding: 20px;
}

.title {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.title h1{
    text-align: center;
    color: #0927D8;
}

.title-row{
    width: 40%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-left{
    position: relative;
    flex: 1;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.box-left p{
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
}

.box-right{
    position: relative;
    flex: 1;
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    border: 5px solid #FFDA27;
    padding: 10px;
}

.box-right iframe{
    width: 100%;
    margin: 10px auto;
}


@media (min-width:300px) and (max-width:631px){
    .title-row{
        width: 240px;
    }

    .title h1{
        font-size: 15px;
    }

    .box-left{
        flex: 100%;
        max-width: 600px;
    }

    .box-left p{
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    .box-right{
        flex: 100%;
        max-width: 600px;
    }

    .box-right iframe{
        flex: 100%;
        max-width: 100%;
        height: 150px;
    }
}

@media (min-width:408px) and (max-width:631px){
    .box-right iframe{
        flex: 100%;
        max-width: 100%;
        height: 400px;

    }
}

@media (min-width:631px) and (max-width:800px){
    .title{
        margin-bottom: 0px;
    }

    .title-row{
        width: 50%;
    }

    .title h1{
        font-size: 20px;
    }
    
    .box-left{
        flex: 100%;
        max-width: 600px;
    }

    .box-left p{
        margin-top: 40px;
        font-size: 30px;
        text-align: center;
    }

    .box-right{
        flex: 100%;
        max-width: 600px;
    }

    .box-right iframe{
        flex: 100%;
        max-width: 100%;
        height: 400px;
    }
}

@media screen and (min-width:801px){
    .title-row{
        width: 335px;
    }

    .title h1{
        font-size: 25px;
    }
    
}

@media (min-width:1200px) and (max-width:1280px){
    .box-left p{
        font-size: 48px;
    }
}

@media (min-width:1281px) and (max-width:2000px){
    .box-left p{
        margin-top: 70px;
        font-size: 55px;
    }
}

/****** Promotional Video end ******/
	
	
	
	
/*** External links, news start ***/
  .links{
    text-decoration: none;
    color: black;
  }

  .arrow{
    width: 100px; float: right; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;"

  }

  .hdr{
    $font-family: 'Poppins'; 
    font-style: normal; 
    font-weight: 1000; 
    font-size: 45px; 
    line-height: 75px; 
    color: #05286B; 
    margin-left: 5%;

  }

  .xlink{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); 
    background-color: #FFDA27; 
    padding:5px; 
    padding-left: 100px; 
    border: 1px solid black; 
    border-radius: 10px; 
    margin-right: 4px; 
    margin-left: 3px;

  }

  .linktitle{
    $font-family: 'Roboto';  
    font-style: normal; 
    font-weight: 700; 
    font-size: 25px; 
    line-height: 47px;


  }

  .card-title{
    $font-family: 'Poppins'; 
    font-style: normal; 
    font-weight: 900; 
    font-size: 20px; 
    line-height: 30px; 
    text-align: center; 
    color: #05286B;"

  }

  .news-cardborder{
   
    padding: 2px;

  }

.accordion-button{
    $font-family: 'Poppins'; 
    font-style: normal; 
    font-weight: 900; 
    font-size: 20px; 
    line-height: 30px; 
    text-align: center; 
    color: #05286B;
    text-align: auto;

  }

  .view{
    $font-family: 'Poppins'; 
    font-style: normal; 
    font-weight: 1000; 
    font-size: 20px; 
    line-height: 75px; 
    color: #05286B;"
  }


@media (min-width:200px) and (max-width:800px){

      .arrow{

    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

  }

    .hdr{

    font-weight: 900; 
    font-size: 25px; 


  }


  .linktitle{

    font-weight: 300px; 
    font-size: 15px; 
    line-height: 47px;


  }

    .accordion-button{

    font-weight: 900; 
    font-size: 15px; 


  }

    
}

/*** External links, news end ***/

/* footer start */
.footer-container{
    width: 100%;
    height: 600px;
}

.rectangle {
    height: 325px;
    width: 100%;
    background-color:#FFDA27;
    margin-top: -220px;
}

.rectangle2{
     height: 35px;
    width: 100%;
    background-color: #060392;
	margin-top: -50px;
   
}
.footer-logo{
   position:relative;
   top: 18%;
   left:8%;
   width: 160px;
   height: 160px;
}
.footer-h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    position: relative;
    bottom: 20%;
    left: 23%;
    text-shadow:0px 4px 4px rgb(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 30px;
}
.footer-h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    position: relative;
    bottom: 20%;
    left: 23%;
    text-shadow:0px 4px 4px rgb(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 25px;
}
.footer-h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    position: relative;
    bottom: 20%;
    left: 23%;
    text-shadow:0px 4px 4px rgb(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 20px;
}
.location {
    position: relative;
    left: 71%;
    bottom: 70%;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
}
.footer-logo1{
    position: relative;
    right:5.8%;
    top:15%;
    color: black;

    
}
.footer-message{
    position: relative;
    left: 71%;
    bottom: 80%;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
}
.footer-logo2{
    position: relative;
    right:6%;
    top: 12%;
    color: black;
}
.footer-facebook{
    position: relative;
    left: 71%;
    bottom: 86%;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-decoration: none;
}
.footer-logo3{
    position: relative;
    right:6%;
    top: 12%;
    color: black;
}
.footer-h4{
    position: relative;
    bottom:80%;
    left: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

@media screen and (max-width:1450px)
{
    .footer-logo{
       position:relative;
       top: 20%;
       left:10%;
       width: 145px;
       height: 145px;
    }
    .footer-h1{
        position: relative;
        bottom: 16%;
        left: 23%;
        font-weight: 600;
        font-size: 28px;
    }
    .footer-h2{
        position: relative;
        bottom: 16%;
        left: 23%;
        font-weight: 400;
        font-size: 23px;
    }
    .footer-h3{
        position: relative;
        bottom: 16%;
        left: 23%;
        font-weight: 400;
        font-size: 18px;
    }
    .location {
        position: relative;
        left: 65%;
        bottom: 60%;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
        text-decoration: none;
    }
    .footer-logo1{
        position: relative;
        right:5.1%;
        top:15%;
    }
    .footer-message{
        position: relative;
        left: 65%;
        bottom: 73%;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
    }
    .footer-logo2{
        position: relative;
        right:5.3%;
        top: 12%;
    }
    .footer-facebook{
        position: relative;
        left: 65%;
        bottom: 81%;
        font-weight: 600;
        font-size: 23px;
        line-height: 29px;
    }
    .footer-logo3{
        position: relative;
        right:5.3%;
        top: 12%;
    }
    .footer-h4{
        position: relative;
        bottom:60%;
        left: 35%;
        font-weight: 350;
        font-size: 16px;
        line-height: 24px;
    } 
}

@media screen and (max-width:1300px)
{
    .footer-logo{
       position:relative;
       top: 25%;
       left:8%;
       width: 140px;
       height: 140px;
    }
    .footer-h1{
        position: relative;
        bottom: 12%;
        left: 21%;
        font-weight: 600;
        font-size: 25px;
    }
    .footer-h2{
        position: relative;
        bottom: 12%;
        left: 21%;
        font-weight: 400;
        font-size: 20px;
    }
    .footer-h3{
        position: relative;
        bottom: 12%;
        left: 21%;
        font-weight: 400;
        font-size: 15px;
    }
    .location {
        position: relative;
        left: 65%;
        bottom: 60%;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        text-decoration: none;
    }
    .footer-logo1{
        position: relative;
        right:5.1%;
        top:15%;
    }
    .footer-message{
        position: relative;
        left: 65%;
        bottom: 73%;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .footer-logo2{
        position: relative;
        right:5.3%;
        top: 12%;
    }
    .footer-facebook{
        position: relative;
        left: 65%;
        bottom: 81%;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .footer-logo3{
        position: relative;
        right:5.3%;
        top: 12%;
    }
    .footer-h4{
        position: relative;
        bottom:60%;
        left: 35%;
        font-weight: 350;
        font-size: 14px;
        line-height: 24px;
    } 
}
@media screen and (max-width:1250px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:8%;
        width: 130px;
        height: 130px;
     }
     .footer-h1{
         position: relative;
         bottom: 10%;
         left: 19%;
         font-weight: 550;
         font-size: 21px;
     }
     .footer-h2{
         position: relative;
         bottom: 10%;
         left: 19%;
         font-weight: 400;
         font-size: 16px;
     }
     .footer-h3{
         position: relative;
         bottom: 10%;
         left: 19%;
         font-weight: 400;
         font-size: 11px;
     }
     .location {
         position: relative;
         left: 60%;
         bottom: 50%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:4.5%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 60%;
         bottom: 62%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:4.8%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 60%;
         bottom: 70%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:5%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:55%;
         left: 30%;
         font-weight: 350;
         font-size: 13px;
         line-height: 24px;
     } 
}
@media screen and (max-width:1150px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:6%;
        width: 120px;
        height: 120px;
     }
     .footer-h1{
         position: relative;
         bottom: 8%;
         left: 15%;
         font-weight: 550;
         font-size: 21px;
     }
     .footer-h2{
         position: relative;
         bottom: 8%;
         left: 15%;
         font-weight: 400;
         font-size: 16px;
     }
     .footer-h3{
         position: relative;
         bottom: 8%;
         left: 15%;
         font-weight: 400;
         font-size: 11px;
     }
     .location {
         position: relative;
         left: 55%;
         bottom: 45%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:4.5%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 55%;
         bottom: 57%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:4.8%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 55%;
         bottom: 65%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:5%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:45%;
         left: 25%;
         font-weight: 350;
         font-size: 13px;
         line-height: 24px;
     } 
}
@media screen and (max-width:1050px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:6%;
        width: 115px;
        height: 115px;
     }
     .footer-h1{
         position: relative;
         bottom: 5%;
         left: 14%;
         font-weight: 550;
         font-size: 21px;
     }
     .footer-h2{
         position: relative;
         bottom: 5%;
         left: 14%;
         font-weight: 400;
         font-size: 16px;
     }
     .footer-h3{
         position: relative;
         bottom: 5%;
         left: 14%;
         font-weight: 400;
         font-size: 11px;
     }
     .location {
         position: relative;
         left: 50%;
         bottom: 40%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:4.5%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 50%;
         bottom: 52%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:4.8%;
         top: 9%;
     }
     .footer-facebook{
         position: relative;
         left: 50%;
         bottom: 60%;
         font-weight: 500;
         font-size: 16px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:4.8%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:40%;
         left: 25%;
         font-weight: 350;
         font-size: 13px;
         line-height: 24px;
     } 
}
@media screen and (max-width:900px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:6%;
        width: 105px;
        height: 105px;
     }
     .footer-h1{
         position: relative;
         bottom: 2%;
         left: 14%;
         font-weight: 500;
         font-size: 16px;
     }
     .footer-h2{
         position: relative;
         bottom:2%;
         left: 14%;
         font-weight: 350;
         font-size: 11px;
     }
     .footer-h3{
         position: relative;
         bottom: 2%;
         left: 14%;
         font-weight: 350;
         font-size: 8px;
     }
     .location {
         position: relative;
         left: 45%;
         bottom: 40%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:3%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 45%;
         bottom: 49%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 45%;
         bottom: 55%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:40%;
         left: 25%;
         font-weight: 350;
         font-size: 10px;
         line-height: 24px;
     } 
}
@media screen and (max-width:750px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:3%;
        width: 100px;
        height: 100px;
     }
     .footer-h1{
         position: relative;
         bottom: 2%;
         left: 10%;
         font-weight: 500;
         font-size: 16px;
     }
     .footer-h2{
         position: relative;
         bottom:2%;
         left: 10%;
         font-weight: 350;
         font-size: 11px;
     }
     .footer-h3{
         position: relative;
         bottom: 2%;
         left: 10%;
         font-weight: 350;
         font-size: 8px;
     }
     .location {
         position: relative;
         left: 35%;
         bottom: 30%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:3%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 35%;
         bottom: 39%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 35%;
         bottom: 45%;
         font-weight: 500;
         font-size: 13px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:25%;
         left: 18%;
         font-weight: 350;
         font-size: 10px;
         line-height: 24px;
     } 
}
@media screen and (max-width:650px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:3%;
        width: 90px;
        height: 90px;
     }
     .footer-h1{
         position: relative;
         top: 2%;
         left: 9%;
         font-weight: 500;
         font-size: 10px;
     }
     .footer-h2{
         position: relative;
         top:2%;
         left: 9%;
         font-weight: 350;
         font-size: 9px;
     }
     .footer-h3{
         position: relative;
         top: 2%;
         left: 9%;
         font-weight: 350;
         font-size: 8px;
     }
     .location {
         position: relative;
         left: 27%;
         bottom: 20%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:3%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 27%;
         bottom: 29%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 27%;
         bottom: 35%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:15%;
         left: 13%;
         font-weight: 350;
         font-size: 10px;
         line-height: 24px;
     } 
}
@media screen and (max-width:600px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:3%;
        width: 80px;
        height: 80px;
     }
     .footer-h1{
         position: relative;
         top: 6%;
         left: 9%;
         font-weight: 500;
         font-size: 10px;
     }
     .footer-h2{
         position: relative;
         top:6%;
         left: 9%;
         font-weight: 350;
         font-size: 9px;
     }
     .footer-h3{
         position: relative;
         top: 6%;
         left: 9%;
         font-weight: 350;
         font-size: 8px;
     }
     .location {
         position: relative;
         left: 27%;
         bottom: 20%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:3%;
         top: 11%;
     }
     .footer-message{
         position: relative;
         left: 27%;
         bottom: 29%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-facebook{
         position: relative;
         left: 27%;
         bottom: 35%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:3%;
         top: 10%;
     }
     .footer-h4{
         position: relative;
         bottom:15%;
         left: 13%;
         font-weight: 350;
         font-size: 10px;
         line-height: 24px;
     } 
}
@media screen and (max-width:500px)
{
    .footer-logo{
        position:relative;
        top: 25%;
        left:3%;
        width: 70px;
        height: 70px;
     }
     .footer-h1{
         position: relative;
         top: 10%;
         left: 8%;
         font-weight: 500;
         font-size: 10px;
     }
     .footer-h2{
         position: relative;
         top:10%;
         left: 8%;
         font-weight: 350;
         font-size: 9px;
     }
     .footer-h3{
         position: relative;
         top: 10%;
         left: 8%;
         font-weight: 350;
         font-size: 8px;
     }
     .location {
         position: relative;
         left: 23%;
         bottom: 15%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo1{
         position: relative;
         right:2%;
         top: 8%;
     }
     .footer-message{
         position: relative;
         left: 23%;
         bottom: 24%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo2{
         position: relative;
         right:2%;
         top: 7%;
     }
     .footer-facebook{
         position: relative;
         left: 23%;
         bottom: 30%;
         font-weight: 500;
         font-size: 9px;
         line-height: 29px;
     }
     .footer-logo3{
         position: relative;
         right:2%;
         top: 8%;
     }
     .footer-h4{
         position: relative;
         bottom:9%;
         left: 10%;
         font-weight: 350;
         font-size: 10px;
         line-height: 24px;
     } 
}

@media screen and (max-width:350px)
{

}

/* footer end */

